<img src="../../assets/logo.png" class="rounded mx-auto d-block img" alt="logo">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text"> גט-טקסי היא חברה ישראלית ואפליקציה לשירות הזמנת מוניות ושליחויות דרך טלפון חכם..</p>
        <a [routerLink]="['/signup']" class="card-link">הרשם</a><span>|</span>
        <a [routerLink]="['/login']" class="card-link">התחבר</a><span>|</span>
        <a [routerLink]="['/travel']" class="card-link">הכנס כאורח</a>
    </div>
</div>