/* You can add global styles to this file, and also import other style files */

 html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
 background-color: black !important;
}
@media only screen and (max-width: 400px) { 
    .img{
        width: 60% !important;
        height: 58%;
    }
}
@media only screen and (max-width: 400px) { 
    .imgD{
        width: 30% !important;
    }
    .bd-dr{
        margin-right: 5% !important;
    }
}
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
::ng-deep .card{
    margin: auto !important;
}


/* Importing Bootstrap SCSS file. */
 @import '~bootstrap/scss/bootstrap';
 img{
    height: 58%;
}
