<img src="../../assets/logo.png" class="rounded mx-auto d-block img"  alt="logo">
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <p class="card-text"> צריכים מונית ספיישל בערב החג? מחפשים מונית לילה מיוחדת לאירוע? הגעתם למקום הנכון. כאן תוכלו למצוא טקסי בכל רחבי הארץ לכל צורך ועניין, לכל שעה וזמן, 
            אתר TaxSee מאפשר לכם להזמין מוניות על פי בחירתכם במחיר מוזל, מסלול מקוצר וחוסך לכם שיחות טלפון מיותרות וזמן.</p>
        <a [routerLink]="['/signup']" class="card-link">הרשם</a><span>|</span>
        <a [routerLink]="['/login']" class="card-link">התחבר</a><span>|</span>
        <a [routerLink]="['/travel']" class="card-link">הכנס כאורח</a>
    </div>
</div>